<h4>Edit Business</h4>

<label>New Business Name:</label>
<input [(ngModel)]="selectedBusiness.name">
<br>

<label>New Business Description:</label>
<input [(ngModel)]="selectedBusiness.description">
<br>

<label>New Business Address:</label>
<input [(ngModel)]="selectedBusiness.address">
<br>

<label>New Business Phone:</label>
<input [(ngModel)]="selectedBusiness.phone">
<br>

<label>New Business Hour:</label>
<input [(ngModel)]="selectedBusiness.businessHours">

<button (click)="beginUpdatingBusiness(selectedBusiness)">Update</button>
<hr>
<button (click)="beginDeletingBusiness(selectedBusiness)">Delete</button>
