<h4>Edit Business</h4>

<label>New Business Title:</label>
<input [(ngModel)]="selectedBusiness.title">
<br>

<label>New Business Review:</label>
<input [(ngModel)]="selectedBusiness.review">
<br>

<label>New Business Description:</label>
<input [(ngModel)]="selectedBusiness.description">
<br>

<label>New Business Address:</label>
<input [(ngModel)]="selectedBusiness.address">

<button (click)="beginUpdatingBusiness(selectedBusiness)">Update</button>
<hr>
<button (click)="beginDeletingBusiness(selectedBusiness)">Delete</button>
