<div class="card">
  <div class="card-header"><h3>Add New Business to Inventory</h3></div>

  <div class="card-body">
    <div>
      <label>Business Title:</label>
      <br>
      <input #newTitle>
    </div>

    <div>
      <label>Business Review:</label>
      <br>
      <input #newReview>
    </div>

    <div>
      <label>Business Description:</label>
      <br>
      <textarea #newDescription></textarea>
    </div>

    <div>
      <label>Business Address:</label>
      <br>
      <textarea #newAddress></textarea>
    </div>

    <div>
      <label>Business Phone:</label>
      <br>
      <textarea #newPhone></textarea>
    </div>

    <div>
      <label>Business Hours:</label>
      <br>
      <textarea #newHour></textarea>
    </div>
    <button (click)="submitForm(newTitle.value, newReview.value, newDescription.value, newAddress.value, newPhone.value, newHour.value); newTitle.value=''; newReview.value=''; newDescription.value=''; newAddress.value=''; newPhone.value=''; newHour.value=''">Add</button>
  </div>
</div>

<div>
  <app-holler></app-holler>
</div>
